h1 {
  text-align: center;
  font-family: hevetica;
  font-size: 9vh;
}

#farm {
  height: 60vh;
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template: repeat(3, 20vh) / repeat(3, 20vh);
  background-color: #008000;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body {
  height: 100vh;
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr 3fr 1fr;
}
#score {
  display: flex;
  grid-column: span 1;
  grid-row: 2;
  font-size: 5vw;
  justify-items: center;
  justify-content: center;
  flex-wrap: row;
}
header {
  grid-column: span 3;
}
table {
  display: contents;
}
tbody {
  display: contents;
}
tr {
  display: contents;
}
td {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  margin: 0;
  height: 15vh;
  width: 15vh;
}
td > img {
  max-width: 15vh;
  max-height: 15vh;
}
td:hover {
  border: 4px dashed #1c6ea4;
}
.seeds {
  grid-area: 3 / 1 / 3/ 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2vh;
}
.seeds img:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}
.seeds img {
  max-width: 100%;
  max-height: 20vh;
  height: auto;
}
